@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  /* Write your own custom base styles here */
  h1 {
    @apply text-3xl font-bold md:text-5xl text-azure-900 dark:text-azure-50 select-none;
  }

  h2 {
    @apply text-2xl font-bold md:text-4xl text-azure-900 dark:text-azure-50 select-none;
  }

  h3 {
    @apply text-xl font-bold md:text-3xl text-azure-900 dark:text-azure-50 select-none;
  }

  h4 {
    @apply text-lg font-bold text-azure-900 dark:text-azure-50 select-none;
  }

  p {
    @apply text-gray-700 dark:text-azure-50;
  }

  body {
    @apply text-sm font-primary md:text-base;
  }

  .layout {
    /* 750px */
    max-width: 43.75rem;

    /* 1100px */
    /* max-width: 68.75rem; */
    width: 90%;
    @apply w-11/12 mx-auto;
  }
}

.h-layout {
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #e56d6d, #d93c3e);
    background-size: 100% 2px, 0% 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-out;
  }
  .animated-underline-dark {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, #13a2ad, #0d828d);
    background-size: 100% 2px, 0% 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-out;
  }
  .animate-fall {
    position: absolute;
    left: 50%;
    top: 200px;
    animation: move 50s linear 0s infinite backwards;
  }
  .animated-underline:hover,
  .animated-underline:focus {
    background-size: 0% 2px, 100% 2px;
  }

  .animate-drop-in {
    animation: drop 2s linear 0s 1 backwards;
  }

  @-webkit-keyframes move {
    from {
      -webkit-transform: translateX(-100px);
    }
    to {
      -webkit-transform: translateX(1000px);
    }
  }

  @-webkit-keyframes drop {
    from {
      -webkit-transform: translateY(-100px);
    }
  }
}
